[Unit]
Description=Check Synology source file modification times every minute

[Timer]
OnBootSec=30s
OnUnitInactiveSec=60s
AccuracySec=10s
Unit=offline-change.service

[Install]
WantedBy=timers.target
